* {
    background-color: #0A0A0A;
    padding: 0;
}
.wrapper{
    display: flex;
    padding: 0;
}

.wrapper_right {
    /* list-style-type: none; */
    margin: 0;
    display: flex; /* Используем flexbox для расположения элементов в одну строку */
    justify-content: flex-end; /* Располагаем элементы справа */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    padding: 0 10px; /* Дополнительный стиль для примера */
}

.wrapper_right li {
    margin-left: 20px; /* Отступ между элементами списка */
}


p,li,td,h1, h2 {
    color: white;
}
.wrapper li{
    margin-left: 0;
}
a{
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет от родительского элемента */
    /* cursor: auto; Устанавливаем стандартный курсор */
}
a:hover {
    /* Стили для состояния при наведении */
    color: grey; /* Мы не изменяем цвет при наведении */
    /* text-decoration:crimson; Убираем подчеркивание при наведении */
    /* cursor: auto; Стандартный курсор при наведении */
}

.menu li {
    display: inline;
}

li{
    list-style-type:none;
    margin-right: 10px;
}
.main_body{
    max-width: 1340px;
    margin: 0 auto;
    /* auto - auto расчитывает растаяние по бокам   */
    padding: 0 75px;
}
.header_1{
    padding: 10px 0 10px 0;
    justify-content: space-between
}
.header{
    padding: 0 0 20px 0;
}

.header .header_1 .wrapper{
    justify-content: space-between

}
.header_2 p{
    font-size: 30px;
}

.main_inscription{
    display: flex; /* Используем flexbox */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    height: 50px; /* Устанавливаем высоту блока равной высоте окна просмотра */
}
.main_inscription{
    font-size: 50px;
    margin: 0;
    color: #0A0A0A;
}

.main_title, .first_title,.second_title,.third_title{
    font-size: 25px;
    margin: 15px 0;
}

.finally_title{
    padding: 0 0 10px 0;
    margin: 0;
}

.main,.main *{
    background-color: white;
    color:#0A0A0A
}
.main{
    padding: 0 10px;
    border-radius: 10px;
    margin :0;
}


.card-img{
    width: 150px;
    height: 200px;
    border-radius: 11px;
}

.card{
    margin: 15px 15px 15px 0;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    height: 390px;
    width:150px;
    background-color: #f0f0f0;
    padding:20px;
}
.card *{
    background-color: #f0f0f0;
}
.card-title{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500px;
}

.card-sub{
    font-size: 16px;
    margin-top: 20px;
}

.btn-keeper{
    margin-top: 20px;
    text-align: center;
}

.btn{
    background-color: gray;
    padding: 7px 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.5s linear;
}

.btn:hover{
    background-color: black;
}

.main-card-product{
    display: flex;
}

.main-card-img{
    width: 250px;
    height: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 11px;
}

.second-part{
    color: white;
}

.main-card-title, .profile-title{
    font-size: 30px;
    margin: 0;
}

table .first-part{
    width: 200px;
    padding: 5px;
}
table .second-part{
    width: 200px;
}

.width-card{
    width: 75%;
}
.main-card{
    width: 78%;
}
.product-case{
    display: flex;
}
.case-form{
    margin: 15px 15px 15px 0;
    display: inline-block;
    height: 390px;
    width:150px;
    background-color: #f0f0f0;
    padding:20px;
}
.case-form *{
    background-color: #f0f0f0;
}

.profile-block ,.cart{
    margin: 15px 15px 15px 0;
    border-radius: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    max-width: 1340px;
    height: 400px;
    padding:20px;
}
.profile-block *,.cart *{
    background-color: #f0f0f0;
}

.bio{
    display: table-caption;
}

.image-block{
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

.main .title {
    text-align: center;
    font-size: 35px;
} 
.cart_img_value {
    width: 100px;
    height: 133px;
    border-radius: 20px;
    margin: 5px;
}

.cart_value .main_block{
    align-content: center;
}

.cart_value {
    margin: 5px;
    border-radius: 20px;
    background-color: grey;
    width: 500px;
    display: flex;
}
.main .title_product{
    font-size: 25px;
}
.cart_value * {
    background-color: grey;
}

.main .panel{
    display: inline-flex;
    /* width: 100px; */
}

.main .but_cats{
    width: 20px;
    height: 20px;
}
.main .final_price {
    margin-top: 20px;
    font-size: 25px;
}
.button_order{
    margin: 20px 0;
}