{%extends "base.html"%}
{% load static %}
{%block content%}
    <div class="profile-block">
        <form action="{% url 'form:profile'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="profile-title">Личный кабинет</div>
            {%if user.image%}
                <img class="image-block" src="{{user.image.url}}">
            {%else%}
                <img class="image-block" src="{% static 'auth_app/image/cat.jpeg'%}">
            {%endif%}    
            <input type="file" name="image">

            <div class="bio">
                <label>
                    Name : <input type="text" name="username" value="{{form.username.value}}">
                </label>
                <label>
                    Surname * : <input type="text" name="last_name"  value="{{form.last_name.value}}">
                </label>
                <!-- <label>
                    Password : <input type="password" value="{{form.password.value}}">
                </label> -->
                <label>
                    Email * : <input type="email" name="email" value="{{form.email.value}}">
                </label>
            </div>
            <button>Изменить</button>
        </form>
    </div>
{%endblock%}