{%extends 'simple_app/base.html'%}
{% block content%}
<div class="main">
    <div class="main_inscription">
        <p>TimeShopping</p>
    </div>
    <div class="description">
        <p>Почему все выбирают нас?</p>
        <div class="first_description">

        </div>
        <div class="second_description">

        </div>
        <div class="third_description">

        </div>
        <div class="finally_phrase">
           <p>Качественные товары по низким ценам</p>
        </div>
    </div>
</div>
{% endblock %}