{%extends 'simple_app/base.html'%}
{% block content%}
<div class="main">
        <p class="main_inscription">TimeShopping</p>
    <div class="description">
        <p class="main_title">Почему все выбирают нас?</p>
        <div class="main_description">
            <p>В современном мире онлайн-шопинга выбор магазина играет ключевую роль в обеспечении комфортного и удовлетворяющего покупательского опыта. "TimeShopping" завоевал сердца множества покупателей благодаря уникальным преимуществам, которые делают нас лучшими на рынке. Вот несколько причин, почему все выбирают именно нас:</p>
        </div>
        <p class="first_title">1. Широкий асортимент товаров</p>
        <div class="first_description">
            <p>Наш интернет-магазин предлагает обширный выбор товаров, который удовлетворит вкусы и потребности каждого покупателя. От модной одежды и аксессуаров до электроники и товаров для дома – у нас есть все, что вам нужно, в одном месте. Мы постоянно обновляем наш ассортимент, следим за последними трендами и добавляем новинки, чтобы вы всегда могли найти что-то новое и интересное.</p>
        </div>
        <p class="second_title">2. Высокое качество и гарантия подлинности</p>
        <div class="second_description">
            <p>Мы предлагаем конкурентоспособные цены на все наши товары. Кроме того, "TimeShopping" регулярно проводит акции, распродажи и предлагает скидки, чтобы вы могли сэкономить на покупках. Наши постоянные клиенты получают дополнительные бонусы и специальные предложения, что делает шопинг с нами еще более привлекательным.</p>
        </div>
        <p class="third_title">3. Конкурентные цены и выгодные акции</p>
        <div class="third_descrption">
            <p>Мы понимаем, что качество товаров имеет первостепенное значение для наших клиентов. "TimeShopping" сотрудничает только с проверенными поставщиками и брендами, что гарантирует подлинность и высокое качество каждого товара. Мы также предлагаем гарантию на все товары, чтобы вы могли быть уверены в своем выборе.</p>
        </div>
        <div class="finally_phrase">
           <p class="finally_title">Выбирая "TimeShopping", вы выбираете надежность, качество и удобство. Присоединяйтесь к числу наших довольных клиентов и наслаждайтесь лучшим онлайн-шопингом вместе с нами!</p>
        </div>
    </div>
</div>
{% endblock %}