{%extends "base.html"%}
{% load product_tags%}


{% block content %}
{%show_catalog_panel%}
<div class="width-card">
<div class="main-card-product">
    <img class="main-card-img" src="{{product.image.url}}">
    <div class="second-part">
        <p class="main-card-title">{{product.title}}</p>
        <p class="main-card-description">{{product.description}}</p>
    </div>
</div>
<div class="full-description">
    <table class="full-table">
        {%for key , value in product.general_feature.items%}
        <tr>
            <td class="first-part">{{key}} : </td>
            <td class="second-part">{{value}}</td>
        </tr>
        {%endfor%}
    </table>
</div>
</div>
{% endblock %}