{%load static%}
{% load product_tags%}
<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'simple_app/css/base_style.css'%}">
    </head>
    <body>
        <div class="main_body">
            <div class="header">
                <div class="header_1">
                    <div class="wrapper">
                        <ul>
                            {% show_menu as menu %}
                            {% for m in menu%}
                            <li><a href="{%url m.url_path%}">{{m.title}}</a></li>
                            {% endfor %}
                        </ul>
                        <ul class="wrapper_right">
                            {% if user.is_authenticated%}
                            <li>
                                <a href="{%url 'form:profile'%}">{{user.username}}</a>
                            </li>
                            <li><a href="{%url 'form:logout'%}">Выйти</a></li>
                            {%else%}
                            <li><a href="{%url 'form:register'%}">Регистрация/Авторизация</a></li>
                            {%endif%}
                        </ul>
                    </div>
                </div>
            </div>
            {% block content%}
            {% endblock %}
        </div>
    </body>
</html>